@import "tailwindcss" source(none);

@source "../src/templates/**/*.html";
@source "../src/apps/**/*.html";
@source "../src/**/*.py";


@font-face {
    font-family: 'Vazirmatn';
    src: url('/static/fonts/Vazirmatn[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}


@theme {
    --color-regal-red: #E60067;
    --font-display: 'Vazirmatn', sans-serif;

    --color-yadlog-primary: #1E3A8A;
    --color-yadlog-accent: #3B82F6;
    --color-yadlog-bg: #F3F4F6;
    --color-yadlog-text: #1F2937;
}


.arrow-part,
.line {
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.group:hover .line {
  @apply delay-[0ms];
}

.group:hover .arrow-part.delay-0 { opacity: 1; transition-delay: 0ms; }
.group:hover .arrow-part.delay-1 { opacity: 1; transition-delay: 125ms; }
.group:hover .arrow-part.delay-2 { opacity: 1; transition-delay: 250ms; }
.group:hover .arrow-part.delay-3 { opacity: 1; transition-delay: 375ms; }
