# Django settings
DJANGO_SECRET_KEY=changeme
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DJANGO_SETTINGS_MODULE=core.envs.development
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CREATE_SUPERUSER=true

# PostgreSQL
POSTGRES_DB=yadlog
POSTGRES_USER=yadlog_user
POSTGRES_PASSWORD=yadlog_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
SITE_DOMAIN   = 'example.com'