<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}یاد لاگ{% endblock %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
</head>
<body class="bg-gray-50 text-gray-900 font-sans">
{% include 'partials/header.html' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html' %}
</body>
</html>
