<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" data-theme="light" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block meta %}{% endblock %}
    <title>{{ site_info.title }} | {% block title %}{% endblock %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
</head>
<body class="text-gray-900 font-display">
{% include 'partials/header.html' %}
{% include 'partials/hero.html' with hero_title=hero_title hero_subtitle=hero_subtitle %}


<main>
    {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html' %}


<script src="{% static 'bundle.js' %}" defer></script>

</body>
</html>
