<!-- base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}یاد لاگ{% endblock %}</title>
    <link href="{% static 'output.css' %}" rel="stylesheet">
</head>
<body class="text-gray-900 font-display">
{% include 'partials/header.html' %}
{% include 'partials/hero.html' %}

<main>
    {% block content %}{% endblock %}
</main>

{% include 'partials/footer.html' %}
<script src="{% static 'bundle.js' %}" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const hoverSound = new Audio("{% static 'sounds/bubble-popping.mp3' %}");
        document.querySelectorAll('.hover-sound').forEach(link => {
            link.addEventListener('mouseenter', () => {
                hoverSound.currentTime = 0;
                hoverSound.play().catch(e => {
                    console.warn('Sound blocked:', e);
                });
            });
        });

        const popSound = new Audio("{% static 'sounds/bubble-pop.mp3' %}");
        document.querySelectorAll('.hover-pop-sound').forEach(link => {
            link.addEventListener('popSound', () => {
                popSound.currentTime = 0;
                popSound.play().catch(e => {
                    console.warn('Sound blocked:', e);
                })
            })
        })
    });
</script>


</body>
</html>
