{% extends 'base.html' %}
{% load i18n %}
{% load url_filters %}

{% block meta %}
    <meta name="description" content="{{ post.summary|default:post.title|striptags }}">
    <meta property="og:title" content="{{ post.title|striptags }}">
    <meta property="og:description" content="{{ post.summary|striptags|truncatechars:160 }}">
    <meta property="og:url" content="{{ request.build_absolute_uri|urlunquote }}">
    <meta property="og:type" content="article">
    <meta name="robots" content="index, follow">
{% endblock %}


{% block title %}{{ post.title }}{% endblock %}

{% block content %}


    <div class="article-container">
        <div class="{% if toc %}article-content lg:grid lg:grid-cols-4 lg:gap-6{% else %}w-full{% endif %}">
            <article class="{% if toc %}lg:col-span-3{% else %}w-full{% endif %} font-sans leading-7 text-gray-800">
                <div class="cke_editable">
                    {{ post.content|safe }}
                </div>
            </article>
            {% if toc %}
                <nav class="toc-list" aria-label="{% trans 'Table of Contents' %}">
                    <h2 class="font-semibold">{% trans 'Table of Contents' %}</h2>

                    <ul class="space-y-2">
                        {% for item in toc %}
                            <li class="toc-level-{{ item.level }}">
                                <a href="#{{ item.id }}" class="hover:block">
                                    {{ item.text }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
{% endblock %}
