{% load i18n %}
<nav class="bg-white shadow" x-data="{ open: false }" x-cloak>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">

            <!-- دکمه موبایل -->
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button type="button"
                        @click="open = !open"
                        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white"
                        aria-controls="mobile-menu"
                        :aria-expanded="open.toString()">

                    <span class="sr-only">Open main menu</span>

                    <!-- آیکون منوی بسته -->
                    <svg x-show="!open" x-cloak class="size-6" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>

                    <!-- آیکون منوی باز -->
                    <svg x-show="open" x-cloak class="size-6" fill="none" viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6 18 18 6M6 6l12 12"/>
                    </svg>
                </button>
            </div>

            <!-- لوگو + منوی دسکتاپ -->
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex shrink-0 items-center text-xl">
                    <a href="{% url 'posts:home' %}">لوگو</a>
                </div>

                <div class="hidden sm:mr-6 sm:block">
                    <div class="flex gap-4">
                        {% for item in menu_items %}
                            <a class="rounded-md px-3 py-2 text-sm font-medium hover:bg-gray-700 hover:text-white"
                               href="{% url item.url %}">{{ item.title }}</a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- منوی موبایل -->
    <div class="sm:hidden" id="mobile-menu" x-show="open" x-cloak x-transition>
        <div class="space-y-1 px-2 pt-2 pb-3">
            <a href="#"
               class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white">خانه</a>
            <a href="#"
               class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white">دسته‌بندی‌ها</a>
            <a href="#"
               class="block rounded-md px-3 py-2 text-base font-medium text-gray-700 hover:bg-gray-700 hover:text-white">درباره‌من</a>
        </div>
    </div>
</nav>
