<header class="bg-white shadow">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="logo">
            <a href="{% url 'home' %}" class="text-xl font-bold">Yadlog</a>
        </div>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="{% url 'home' %}" class="hover:text-blue-600">خانه</a></li>
{#                <li><a href="{% url 'articles' %}" class="hover:text-blue-600">مقالات</a></li>#}
                {#                <li><a href="{% url 'tutorials' %}" class="hover:text-blue-600">آموزش‌ها</a></li>#}
            </ul>
        </nav>
    </div>
</header>
