@theme {
  --color-regal-red: #E60067;
  --font-display: 'Vazirmatn', sans-serif;
  --color-yadlog-primary: #1E3A8A;
  --color-yadlog-accent: #3B82F6;
  --color-yadlog-bg: #F3F4F6;
  --color-yadlog-text: #1F2937;
}
